GestionAcademica/src/conf/xml-resources/web-service-references/ws_sincronizar/wsdl/localhost_8084/GestionAcademica/ws_sincronizar.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="ws_Sincronizar">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8084/GestionAcademica/ws_sincronizar?xsd=1"/>
</xsd:schema>
</types>
<message name="impactar_inconsistencia">
<part name="parameters" element="tns:impactar_inconsistencia"/>
</message>
<message name="impactar_inconsistenciaResponse">
<part name="parameters" element="tns:impactar_inconsistenciaResponse"/>
</message>
<message name="update_fecha">
<part name="parameters" element="tns:update_fecha"/>
</message>
<message name="update_fechaResponse">
<part name="parameters" element="tns:update_fechaResponse"/>
</message>
<message name="sincronizar">
<part name="parameters" element="tns:sincronizar"/>
</message>
<message name="sincronizarResponse">
<part name="parameters" element="tns:sincronizarResponse"/>
</message>
<portType name="ws_sincronizar">
<operation name="impactar_inconsistencia">
<input wsam:Action="http://WebService/ws_sincronizar/impactar_inconsistenciaRequest" message="tns:impactar_inconsistencia"/>
<output wsam:Action="http://WebService/ws_sincronizar/impactar_inconsistenciaResponse" message="tns:impactar_inconsistenciaResponse"/>
</operation>
<operation name="update_fecha">
<input wsam:Action="http://WebService/ws_sincronizar/update_fechaRequest" message="tns:update_fecha"/>
<output wsam:Action="http://WebService/ws_sincronizar/update_fechaResponse" message="tns:update_fechaResponse"/>
</operation>
<operation name="sincronizar">
<input wsam:Action="http://WebService/ws_sincronizar/sincronizarRequest" message="tns:sincronizar"/>
<output wsam:Action="http://WebService/ws_sincronizar/sincronizarResponse" message="tns:sincronizarResponse"/>
</operation>
</portType>
<binding name="ws_sincronizarPortBinding" type="tns:ws_sincronizar">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="impactar_inconsistencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_fecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sincronizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ws_Sincronizar">
<port name="ws_sincronizarPort" binding="tns:ws_sincronizarPortBinding">
<soap:address location="http://localhost:8084/GestionAcademica/ws_sincronizar"/>
</port>
</service>
</definitions>